* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-serif;
  color: #444444;
  border-top: 10px solid #250b0b;
  line-height: 1.4;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}

.main-head {
  background-color: #f7f7f7;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-section {
  display: flex;
}
